.basket_container {
  display: flex;
  flex-direction: column;
  padding: 1em 0 3em 0;
  gap: 1em;
}

.basket_total {
  margin-top: 1em;
  align-self: flex-end;
  font-weight: 700;
}

.empty_basket_header {
  font-size: 2rem;
  text-align: center;
  margin-top: 2em;
}

.shop_link_text {
  text-align: center;
  margin-top: 1em;
}

.shop_link {
  font-style: italic;
  color: var(--main-purple);
}

.shop_link:hover {
  text-decoration: underline;
}
