.basket_card {
  display: flex;
  height: 8rem;
  align-items: center;
  gap: 1em;
}

.bcard_image {
  width: 100px;
  max-height: 100%;
}

.bcard_title {
  font-size: 0.9rem;
  margin-right: auto;
  max-width: 350px;
}

.bcard_price {
  font-size: 0.9rem;
  min-width: 6em;
  text-align: center;
}

.bcard_items {
  font-size: 0.8rem;
  font-style: italic;
}

.bcard_btn {
  background-color: rgba(214, 27, 64, 0.413);
  padding: 0.2em 1em;
}

.bcard_btn:hover {
  background-color: rgba(214, 27, 64, 0.713);
  color: #fff;
  border-color: rgb(135, 135, 135);
}

.bcard_input {
  -moz-appearance: textfield;
}

.bcard_input::-webkit-outer-spin-button,
.bcard_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item_quantity {
  display: flex;
  gap: 0.2em;
}

.item_quantity > input {
  width: 100%;
  flex: 1 1 40px;
  min-width: 30px;
  max-width: 50px;
  text-align: center;
}

.item_quantity > button {
  flex: 1 1 0;
}

.decrement:disabled,
.decrement:disabled:hover {
  cursor: not-allowed;
  background-color: #d3d3d3;
  border-color: transparent;
  color: inherit;
}

.increment,
.decrement {
  padding: 0.2em 0.5em;
  background-color: #bfb6ed;
}

.increment:hover,
.decrement:hover {
  border-color: #646cff;
  background-color: #8879d1;
  color: white;
}

/* Media Queries*/

@media (max-width: 600px) {
  .basket_card {
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid gray;
  }

  .bcard_title {
    margin-right: 0;
    text-align: center;
  }

  .bcard_btn {
    padding: 0.5em 1.5em;
    margin-bottom: 2em;
  }

  .item_quantity > input {
    min-width: 80px;
    max-width: 150px;
  }
}


