.navbar {
  padding: 0.5em 0;
  background: var(--main-purple);
  color: #fff;
}

.navbar_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.nav_items {
  display: flex;
  gap: 2em;
}

.nav_items li:hover {
  color: #000;
}

.left_items {
  composes: nav_items;
}


.right_items {
  composes: nav_items;
}

/* Basket */

.basket_count {
  font-size: 0.7rem;
}
