.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px minmax(80px, auto) 1fr auto;
  grid-template-areas: 
    "image image"
    "title title"
    "desc desc"
    "price form";
  padding: 1.5em 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card_img {
  grid-area: image;
  max-height: 100%;
  margin-bottom: 1em;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

.card_title {
  grid-area: title;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.card_desc {
  grid-area: desc;
  font-size: 0.7rem;
  height: 8em;
  overflow: scroll;
  margin-bottom: 2em;
}

.card_form {
  display: flex;
  gap: 0.2em;
  grid-area: form;
  align-self: center;
  justify-self: end;
}

.card_price {
  grid-area: price;
  align-self: center;
}

.card_input {
  width: 4em;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  border: 1px solid rgb(140, 140, 140);
}

.card_btn {
  position: relative;
  padding: 0.5em 1em;
  background-color: #bfb6ed;
}

.card_btn:after {
  content: "Added!";
  background: #4440bf;
  display: block;
  position: absolute;
  padding: 1em;
  margin-right: -1em!important;
  margin-bottom: 1em;
  opacity: 0;
  transition: all 0.9s;
  border-radius: 3px;
}

.card_btn:active:after {
  padding: 0.2em;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.card_btn:hover {
  border-color: #646cff;
  background-color: #8879d1;
  color: white;
}

.card_btn:focus,
.card_btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


