/* Defaults */

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  --main-purple: #5b4baa;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

img {
  /* Ensure images fill their container */
  max-width: 100%;
  height: auto; /* keep at auto for safari */
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

button {
  border-radius: 3px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Global Stylings */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

