/* Defaults */

:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

img {
  /* Ensure images fill their container */
  max-width: 100%;
  height: auto; /* keep at auto for safari */
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

